<phpunit colors="true"
		 bootstrap="tests/bootstrap.php"
		 convertErrorsToExceptions="true"
       convertNoticesToExceptions="true"
       convertWarningsToExceptions="true"
       processIsolation="false"
       stopOnFailure="false"
       syntaxCheck="false"
       >
	<testsuite name="TraktorNml Tests">
		<directory>tests/TraktorNml</directory>
	</testsuite>
</phpunit>